.app{
    box-sizing: border-box;
    display: flex;
  }
.containerPrincipal{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tusamigos{
  align-self: flex-start;
  padding:30px
}
@media only screen and (max-width: 600px) {
  .containerPrincipal{
    padding-left:0px
  }
}