.container{
    background-color:rgb(11, 56, 180);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formContainer{
    width: 30%;
    border-radius:20px;
    background-color: white;
    margin: 20px;
}
.form{
    background-color:white;
    border-radius: 20px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.register{
    margin-top:20px;
    text-align: center;
}
input:focus{
    border:0;
    outline: none;
    box-shadow: none
}
.seePassword{
    width:20px;
    height: 20px;
}
.passwordInput{
    display: flex;
}
@media only screen and (max-width: 600px) {
    .formContainer{
        width: 80%;
    }
    .passwordInput{
        display: flex;
    }
    .register{
        text-align: center;
    }
}
@media only screen and (min-width: 600px) {
    .formContainer{
        width: 80%;
    }
}
@media only screen and (min-width: 768px) {
    .formContainer{
        width: 50%;
    }
}
@media only screen and (min-width: 992px) {
    .formContainer{
        width: 50%;
    }
}
@media only screen and (min-width: 992px) {
    .formContainer{
        width: 30%;
    }
}