
.containerPrincipal{
   display: flex;
   width: 100%;
   flex-direction: column;
}
.portada{
  
  padding: 40px;
}
.portadaUp{
  display: flex;
  gap: 15px;
}
.portadaUpInside{
  display: flex;
  width: 100%;
  justify-content:space-between
}
.picture{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.portadaDown{
 

}
.detalles{
  padding-top:20px ;
}
.detalles ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.detalles li{
  display: flex;
  gap: 10px;
}
.logo{
  width:20px;
  height: 20px;
}
.formProfile{
  display: flex;
  flex-direction: column
}
.inputFile{
  display: none;
}
.publicaciones{
  display: flex;
 align-items: center;
  flex-direction: column;
  
}
@media only screen and (max-width: 600px) {
  .containerPrincipal{
    padding-left: 0px;
  }
  .portada{
    padding: 10px;
  }
  .detalles ul{
    padding-left: 10px;
  }
  .picture{
    width: 60px;
    height: 60px;
  }
  .portadaUp{
    padding-top: 15px;
  }
}